* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

table {
    width: 95vw;
    border-collapse: collapse;
}

th {
    padding: 1em;
    border-bottom: 2px solid rgb(206, 206, 206);
}

th {
    cursor: pointer;
}

tr {
    border-top: 2px solid rgb(226, 226, 226);
}

td { 
    text-align: center;
}

#btn-func {
    margin: 2em;
    display: flex;
}

#resultat {
    padding: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
}

button {
    background-color: rgb(35, 53, 151);
    border: none;
    padding: .8em;
    margin: .2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

p {
    padding: .5em;
    margin: .2em;
}

.chart-container {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}